body {
    margin: 0;
    background-color: black;
    background-image: url("images/spaceBack1.jpg");
}

header {
    height: 20vh;
    min-height: 120px;
}

#title {
    font-size: 3em;
    color: #fff;
    text-shadow:
    0 0 12px #fff,
    0 0 24px #fff,
    0 0 36px #fff,

    0 0 24px  red,
    0 0 48px red,
    0 0 96px red,

    0 0 48px  purple,
    0 0 96px purple,
    0 0 192px purple;
}

#flexNav {
    margin-left: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 100px;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    margin: 1em;
    background-image: url("images/cartoonLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

.colorfulShadow {
    position: relative;
}
  
.colorfulShadow::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    background-position: center center;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.50)) blur(20px);
    z-index: -1;
}

#flexNav #buttonBox {
    display: flex;
}

#flexNav a {
    border-radius: 16px;
    color: whitesmoke;
    background-color: black;
    padding: 2em;
    margin: 1em;
    box-shadow: 0 4px 8px rgba(1, 1, 1, .5);
    text-decoration: none;
    border: 2px solid whitesmoke;
    transition: .5s;
}

#flexNav a:hover {
    color: black;
    background-color: whitesmoke;
    box-shadow: 4px 8px 12px rgba(1, 1, 1, .75);
    cursor: pointer;
    transition: .5s;
}

#aboutSection {
    background-color: rgba(255, 255, 255, .25);
    margin: 10em 0 0 0;
    display: flex;
    justify-content: space-between;
}

#aboutLeft {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

#aboutLeft img {
    width: 100%;
    height: auto;
    margin: auto 1em;
    box-shadow: 0 4px 8px 8px rgba(1, 1, 1, .5);
    border-radius: 0 16px 0 16px;
    border: 2px solid #F5F5F5
}

#aboutRight {
    background-color: whitesmoke;
    box-shadow: -8px 0 8px rgba(1, 1, 1, .5);
    border-radius: 16px 0 0 16px;
    width: 50vw;
    display: flex;
    align-items: center;
    overflow: auto;
}

#aboutRight ul {
    margin: 0 1em;
    padding: 0 1em;
    line-height: 2em;
}

footer {
    margin-top: 20vh;
    text-align: center;
}

footer div h3 {
    color:  rgba(255, 255, 255, .75);
    border-bottom: 2px solid rgba(255, 255, 255, .75);
    display: inline-block; 
}

footer div h3 a {
    color: red;
    text-decoration: none;
    transition: .5s;
}

footer div h3 a:hover {
    color: whitesmoke;
    transition: .5s;
}

@media (max-width: 800px) {

    #flexNav {
        flex-flow: column;
    }

    #aboutSection {
        flex-flow: column;
        margin-top: 20em;
    }

    #aboutSection img {
        margin-top: 2em;
    }

    #aboutSection #aboutRight {
        margin: 2em auto;
        border-radius: 16px;
        box-shadow: 0 8px 8px rgba(1, 1, 1, .5);
    }
    
}