html {
    scroll-behavior: smooth;
    font-family: 'Alegreya Sans SC', sans-serif;
}

body {
    margin: 0;
}

body.light-theme {
    background-color: whitesmoke;
}

body.dark-theme {
    background-color: black;
    background-image: url("images/spaceBack1.jpg");
}

header {
    height: 20vh;
    min-height: 120px;
}

#title {
    font-size: 3em;
    font-family: 'Alegreya Sans SC', sans-serif;
}

body.light-theme #title {
    color: black;
    text-shadow: none;
}

body.dark-theme #title {
    color: #fff;
    text-shadow: 2px 2px 4px pink;
}

#flexNav {
    margin-left: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#flexNav #buttonBox {
    display: flex;
}

.button {
    border-radius: 16px;
    padding: 2em;
    margin: 1em;
    box-shadow: 0 4px 8px rgba(1, 1, 1, .5);
    text-decoration: none;
    transition: .5s;
    font-size: 1em;
    font-family: 'Alegreya Sans SC', sans-serif;
}

body.light-theme .button {
    color: black;
    background-color: whitesmoke;
    border: 2px solid black;
}

body.dark-theme .button {
    color: whitesmoke;
    background-color: black;
    border: 2px solid whitesmoke;
}

.button:hover {
    cursor: pointer;
    transition: .5s;
}

body.light-theme .button:hover {
    color: whitesmoke;
    background-color: black;
    box-shadow: none;
    border: 2px solid whitesmoke;
}

body.dark-theme .button:hover {
    color: black;
    background-color: whitesmoke;
    box-shadow: 4px 8px 12px rgba(1, 1, 1, .75);
    
}



.contentSection {
    margin: 10em 0 0 0;
    display: flex;
    justify-content: space-between;
}

body.light-theme .contentSection {
    background-color: dodgerblue;
}

body.dark-theme .contentSection {
    background-color: rgba(255, 255, 255, .25);
}


.contentPicDiv {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.contentPicDiv img {
    border: 2px solid #F5F5F5;
    width: 100%;
    height: auto;
    margin: auto 1em;
    box-shadow: 0 4px 8px 8px rgba(1, 1, 1, .5);
    border-radius: 16px;
}

.contentInfo.right {
    background-color: whitesmoke;
    box-shadow: -8px 0 8px rgba(1, 1, 1, .5);
    border-radius: 16px 0 0 16px;
    width: 50vw;
    display: flex;
    align-items: center;
    overflow: auto;
}

.contentInfo.left {
    background-color: whitesmoke;
    box-shadow: 8px 0 8px rgba(1, 1, 1, .5);
    border-radius: 0 16px 16px 0;
    width: 50vw;
    display: flex;
    align-items: center;
    overflow: auto;
}

.contentInfo ul {
    margin: 0 1em;
    padding: 0 1em;
    line-height: 2em;
}

footer {
    margin-top: 20vh;
    text-align: center;
}

footer div h3 {
    color:  rgba(255, 255, 255, .75);
    border-bottom: 2px solid rgba(255, 255, 255, .75);
    display: inline-block; 
}

body.light-theme footer h3 {
    color:  black;
    border-bottom: 2px solid black;
}

body.dark-theme footer h3 {
    color:  rgba(255, 255, 255, .75);
    border-bottom: 2px solid rgba(255, 255, 255, .75);
}

footer div h3 a {
    color: red;
    text-decoration: none;
    transition: .5s;
}

body.light-theme footer h3 a:hover {
    color: black;
    transition: .5s;
}

body.dark-theme footer h3 a:hover {
    color: whitesmoke;
    transition: .5s;
}

@media (max-width: 800px) {

    #flexNav {
        flex-flow: column;
    }

    .contentSection {
        flex-flow: column;
        margin-top: 20em;
    }

    .contentSection img {
        margin-top: 2em;
    }

    .contentSection .contentPicDiv {
        order: 1;
    }

    .contentSection .contentInfo {
        order: 2;
        margin: 2em auto;
        border-radius: 16px;
        box-shadow: 0 8px 8px rgba(1, 1, 1, .5);
    }
    
}