html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #d5e3e2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23f5f5f5' fill-opacity='1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    -webkit-transition: color 1s ease-in-out;
    transition: color 1s ease-in-out;
}

body.dark-theme {
    background-color: black;
    background-image: url("images/spaceBack1.jpg");
    -webkit-transition: color 1s ease-in-out;
    transition: color 1s ease-in-out;
}

header {
    height: 30vmin;
    min-height: 120px;
    transition: .5s;
    background-color: whitesmoke;
}

body.dark-theme header {
    background-color: black;
}



#title {
    line-height: 1;
    font-size: 2.8vw;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: rgb(0, 0, 0);
    transition: .5s ease-in-out;
}

body.dark-theme #title {
    color: #fff;
    text-shadow: 2px 2px 4px pink;
    transition: .5s ease-in-out;
}

#flexNav {
    margin: 0 2em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

#themeIconDiv {
    display: flex;
    align-items: center;
    margin: 1em;
    justify-content: center;
}

.dot {
    height: 1px;
    width: 1px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: .3s ease-in-out;
}

body.dark-theme .dot {
    background-color: black;
}

#themeIconDiv i {
    font-size: 4vw;
    cursor: pointer;
    color: black;
    transition: color .5s ease-out;
    z-index: 1;
}

body.dark-theme #themeIconDiv i {
    color: whitesmoke;
    transition: color .5s ease-out;
}

#buttonContainer {
    display: flex;
    border-radius: 8px;
}

.button {
    padding: 1vw;
    font-size: 2.4vw;
    transition: .5s;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: black;
    background-color: whitesmoke;
}

.button:first-child {
    border-radius: 1vw 0 0 1vw;
}

.button:last-child {
    border-radius: 0 1vw 1vw 0;
}

body.dark-theme .button {
    color: whitesmoke;
    background-color: black;
}



.contentSection {
    margin: 10em 0 0 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.25vw;
    transition: background-color .5s ease-in-out;
}

body.light-theme .contentSection {
    background-color: none;
}

body.dark-theme .contentSection {
    background-color: rgba(255, 255, 255, .25);
    
}


.contentPicDiv {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.contentPicDiv img {
    border: none;
    height: auto;
    margin: auto 1em;
    width: 40vw;
    box-shadow: 0 4px 8px 4px rgba(1, 1, 1, .5);
    border-radius: 16px;
    transition: box-shadow .5s ease-in-out;
}

body.dark-theme .contentPicDiv img {
    border: 2px solid white;
    transition: box-shadow .5s ease-in-out;
}

.contentInfo {
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(1, 1, 1, .5);
    width: 50vw;
    display: flex;
    align-items: center;
    overflow: auto;
    font-family: 'Alegreya Sans SC', sans-serif;
    transition: box-shadow .5s;
}

.contentInfo.right {
    border-radius: 2vw 0 0 2vw;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.contentInfo.left {
    border-radius: 0 2vw 2vw 0;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

body.dark-theme .contentInfo.right {
    box-shadow: -8px 0 8px rgba(1, 1, 1, .5);
    transition: box-shadow 1s;
}

body.dark-theme .contentInfo.left {
    box-shadow: 8px 0 8px rgba(1, 1, 1, .5);
    transition: box-shadow 1s;
}

.contentInfo ul {
    margin: 0 1em;
    padding: 0 1em;
    line-height: 2em;
}

footer {
    margin-top: 20vmin;
    text-align: center;
}

footer div h3 {
    color:  rgba(255, 255, 255, .75);
    border-bottom: 2px solid rgba(255, 255, 255, .75);
    font-size: 2vw;
    display: inline-block; 
    font-family: 'Alegreya Sans SC', sans-serif;
}

body.light-theme footer h3 {
    color:  black;
    border-bottom: 2px solid black;
}

body.dark-theme footer h3 {
    color:  rgba(255, 255, 255, .75);
    border-bottom: 2px solid rgba(255, 255, 255, .75);
}

footer {
    background-color: rgba(255, 255, 255, .25);
    
}

footer div h3 a {
    color: blue;
    text-decoration: none;
    transition: .5s;
}

footer h3 a:hover {
    color: dodgerblue;
    transition: .5s;
}

@media (hover: hover) {

    #themeIconDiv i:hover {
        color: whitesmoke;
        transition: color .5s ease-out;
    }

    body.dark-theme #themeIconDiv i:hover { 
        color: black;
        transition: color .5s ease-out;
    }

    i:hover ~ .dot {
        background-color: black;
        transition: .3s ease-in-out;
        height: 6vw;
        width: 6vw; 
        opacity: 100;
    }

    body.dark-theme #themeIconDiv i:hover ~ .dot {
        background-color: whitesmoke;
    }

    .button:hover {
        color: whitesmoke;
        background-color: black;
        box-shadow: none;
        cursor: pointer;
        transition: .5s;
    }
    
    body.dark-theme .button:hover {
        color: black;
        background-color: whitesmoke;
        box-shadow: 4px 8px 12px rgba(1, 1, 1, .75);
    }
    
}